<div class="alert alert-info  row">
  <h3>Welcome  Patient {{patient.firstName}} {{patient.lastName}}</h3>
       <button type="button" class="btn btn-danger ml-auto" (click)="DeletePatient()">Delete Your Account</button>
   </div>

<ul class="nav nav-tabs ">
  <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home">History Data</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu1">Average Data Table</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#menu2">Consulations Table</a></li>
</ul>
<div class="tab-content p-1">
  <div id="home" class="tab-pane fade in active show">
    <div class="col text-center">
      <button class="btn btn-primary btn-space " (click)="openModal(addPatientData)">Put Data</button>

      <div class="container p-1" *ngIf='loadUpdateComponent'>
        <app-update-data-patient [patientData]="patientData"></app-update-data-patient>
      </div>
    
  </div>
<br>
<div class="alert alert-success" role="alert" *ngIf="isSuccesfullVisible">
  <strong>{{successMessage}}</strong>
</div>
<div class="alert alert-danger"   role="alert" *ngIf="isVisible">
  <strong>{{errorMessage }} </strong>
</div>
  <form [formGroup]="datesForm" (submit)="onSubmitForm(datesForm)">
    <div class="form-row">
        <div class="col">
          <div class="input-group">
            <input class="form-control" formControlName ="fromDate" type="text" placeholder="From Date"  ngbDatepicker #d="ngbDatepicker" name="dp"/>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"  type="button"></button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="input-group">
            <input class="form-control" formControlName ="toDate" type="text" placeholder="To Date" ngbDatepicker #d2="ngbDatepicker" name="dp"/>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
            </div>
          </div>   
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
<br>

  <table class="table  table-bordered">
      <thead>
        <tr>

          <th scope="col">Carbohydrates</th>
          <th scope="col">Blood Glucose</th>
          <th scope="col" style="text-align: center;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patientData of dataPatientList">
          <td>{{patientData.carbIntake}}</td>
          <td>{{patientData.bloodGlucose}}</td>
          <td>
            <button class="btn btn-warning float-right m-1"  (click)="openModalForUpdateData(UpdatePatientData,patientData)">Update</button>
            <button class="btn btn-danger float-right m-1 " (click)="onClickDeleteBtn(patientData)">Delete</button>
        
          </td>
        
        </tr>
      </tbody>
    </table>
  </div>
  <div id="menu1" class="tab-pane fade">
    <app-show-average></app-show-average>
  </div>
  <div id="menu2" class="tab-pane fade">
    <app-show-consulation></app-show-consulation>
  </div>
</div>

<ng-template #addPatientData let-modal>
  <div class="modal-header">
   <h5 class="modal-title"> Add Data  </h5>
   <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
   </button>
  </div>
  <div class="modal-body">  
    <app-add-patient-data></app-add-patient-data>
  </div>
 </ng-template>


 <ng-template #UpdatePatientData let-modal>
  <div class="modal-header">
   <h5 class="modal-title"> Update A Patient Data </h5>
   <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
   </button>
  </div>
  <div class="modal-body">  
    <app-update-data-patient [patientData]="patientData"></app-update-data-patient>
  </div>
 </ng-template>