.routerClass{
 padding: 20px;
}

#content {
    width: 100%;
    padding-bottom: 20px;
    padding-top:20px;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 100vh;
    transition: all 0.3s;
 
   
}
.borderPad{
    padding-bottom: 20px;
  
}


footer{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(173,232,244,1) 55%, rgba(255,255,255,1) 100%);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 30px;
    line-height: 34px;
}



