<!-- <div class="container">
    <h4>Complete the following form to add a consultation</h4><br>
    <div class="alert alert-success alert-dismissible fade show" *ngIf="consultationIsAdded===true">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Consultation is added <strong>successfully</strong>!
    </div>
    <form [formGroup]="addConsultationForm" (submit)="formSubmit(addConsultationForm)">
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Patient ID: </label>
                    <input class="form-control" formControlName ="patientId" type="text" placeholder="Insert patient's ID"/>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Consultation: </label>
                    <input class="form-control" formControlName ="consultation" type="text" placeholder="Type patient's consultation"/>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>

    </form>
</div> -->
