<br>
<div class="alert alert-danger" role="alert" *ngIf="isVisible">
  <strong>{{errorMessage }} </strong>
</div>
  <form [formGroup]="datesForm" (submit)="onSubmitForm(datesForm)">
    <div class="form-row">
        <div class="col">
            <input class="form-control" formControlName ="fromDate" type="text" placeholder="From Date"/>
        </div>
        <div class="col">
            <input class="form-control" formControlName ="toDate" type="text" placeholder="To Date"/>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
<br>
<table class="table  table-bordered">
    <thead>
      <tr>
  
        <th scope="col">Average Glycose</th>
        <th scope="col">Average Carbohydrate</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        
        <td>{{dataAverage.avgGlycose}}</td>
        <td>{{dataAverage.avgCarbs}}
     </td>
      
      </tr>
    </tbody>
  </table>
