<br>
<div class="alert alert-danger" role="alert" *ngIf="isVisible">
  <strong>{{errorMessage }} </strong>
</div>
  <form [formGroup]="datesForm" (submit)="onSubmitForm(datesForm)">
    <div class="form-row">
        <div class="col">
          <div class="input-group">
            <input class="form-control" formControlName ="fromDate" type="text" placeholder="From Date"  ngbDatepicker #d="ngbDatepicker" name="dp"/>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"  type="button"></button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="input-group">
            <input class="form-control" formControlName ="toDate" type="text" placeholder="To Date" ngbDatepicker #d2="ngbDatepicker" name="dp"/>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
            </div>
          </div>   
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
<br>
<table class="table  table-bordered">
    <thead>
      <tr>
  
        <th scope="col">Average Glycose</th>
        <th scope="col">Average Carbohydrate</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        
        <td>{{dataAverage.avgGlycose}}</td>
        <td>{{dataAverage.avgCarbs}}
     </td>
      
      </tr>
    </tbody>
  </table>
