<table class="table  table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patientData of patients">
        <th  scope="row">{{patientData.id}}</th>
        <td>{{patientData.firstName}}</td>
        <td>{{patientData.lastName}}</td>
        <td><button class="btn btn-info float-left m-1" (click)="openModal(patDataModal, patientData.id)">Number of Data</button></td>
      </tr>
    </tbody>
  </table>

  <ng-template #patDataModal let-modal>
    <div class="modal-header">
     <h5 class="modal-title"> Insert dates here: </h5>
     <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
     </button>
    </div>
    <div class="modal-body">  
          <div class="form-row">
              <div class="col">
                  <input class="form-control" [(ngModel)]="fromDate" type="text" placeholder="From Date"/>
              </div>
              <div class="col">
                  <input class="form-control" [(ngModel)]="toDate" type="text" placeholder="To Date"/>
              </div>
          </div>
    </div>
    <div class="modal-footer footer-flex">
      <div *ngIf="datalength!=null">
        <span>Number of data: {{datalength}}</span>
      </div>
      <button type="button" class="btn btn-primary" (click)="findData()"> Search</button>
    </div>
   </ng-template>
