<table class="table  table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doctorData of doctors">
        <th  scope="row">{{doctorData.id}}</th>
        <td>{{doctorData.firstName}}</td>
        <td>{{doctorData.lastName}}
            <button class="btn btn-info float-right m-1">View Consultations</button>
        </td>
      </tr>
    </tbody>
  </table>
