<div class="alert alert-success" role="alert" *ngIf="isSuccesfullVisible">
    <strong>{{sucessMessage}}</strong>
  </div>
  <div class="alert alert-danger"   role="alert" *ngIf="isVisible">
    <strong>{{errorMessage }} </strong>
  </div>

<div class="container">
    <form  [formGroup]="UpdateDataPatientForm" (submit)="updateDataOnSubmit()" >
    <div class="form-row">
        <div class="col">
            <input class="form-control" type="text" placeholder="carbohydrates" formControlName="carbIntake" value={{patientData.carbIntake}}/>
        </div>
        <div class="col">
        <input class="form-control" type="text" placeholder="Glycose" formControlName="bloodGlucose" value={{patientData.bloodGlucose}}/>
        </div>
        <button type="submit" class="btn btn-primary">Update Data</button>
    </div>
    </form>
    </div>