<h3>Choose one of the following activities:</h3><br>
<div class="row">
    <div class="col-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-addDoctor-tab" data-toggle="pill" href="#v-pills-addDoctor" role="tab" aria-controls="v-pills-addDoctor" aria-selected="true">Add Doctor</a>
        <a class="nav-link" id="v-pills-noActivityDoc-tab" data-toggle="pill" href="#v-pills-noActivityDoc" role="tab" aria-controls="v-pills-noActivityDoc" aria-selected="false">Show List Of Doctors With No Activity</a>
        <a class="nav-link" id="v-pills-noActivityPat-tab" data-toggle="pill" href="#v-pills-noActivityPat" role="tab" aria-controls="v-pills-noActivityPat" aria-selected="false">Show List Of Patients With No Activity</a>
        <a class="nav-link" id="v-pills-showDocConsult-tab" data-toggle="pill" href="#v-pills-showDocConsult" role="tab" aria-controls="v-pills-showDocConsult" aria-selected="false">Show Doctor's Total Number Of Consultations</a>
        <a class="nav-link" id="v-pills-showPatData-tab" data-toggle="pill" href="#v-pills-showPatData" role="tab" aria-controls="v-pills-showPatData" aria-selected="false">Show Patient's Total Number of Inserted Data</a>
        <a class="nav-link" id="v-pills-showPatWaitingConsult-tab" data-toggle="pill" href="#v-pills-showPatWaitingConsult" role="tab" aria-controls="v-pills-showPatWaitingConsult" aria-selected="false">Show Patients Waiting For Consultations</a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-addDoctor" role="tabpanel" aria-labelledby="v-pills-addDoctor-tab"><app-add-doctor></app-add-doctor></div>
        <div class="tab-pane fade" id="v-pills-noActivityDoc" role="tabpanel" aria-labelledby="v-pills-noActivityDoc-tab"><app-doctors-with-no-activity></app-doctors-with-no-activity></div>
        <div class="tab-pane fade" id="v-pills-noActivityPat" role="tabpanel" aria-labelledby="v-pills-noActivityPat-tab"><app-patients-with-no-activity></app-patients-with-no-activity></div>
        <div class="tab-pane fade" id="v-pills-showDocConsult" role="tabpanel" aria-labelledby="v-pills-showDocConsult-tab"><app-show-doctor-consultations></app-show-doctor-consultations></div>
        <div class="tab-pane fade" id="v-pills-showPatData" role="tabpanel" aria-labelledby="v-pills-showPatData-tab"><app-show-patient-data></app-show-patient-data></div>
        <div class="tab-pane fade" id="v-pills-showPatWaitingConsult" role="tabpanel" aria-labelledby="v-pills-showPatWaitingConsult-tab"><app-patient-waiting-consults></app-patient-waiting-consults></div>
      </div>
    </div>
  </div>
