<div>
  <div class="alert alert-success" role="alert" *ngIf="isSuccesfullVisible">
    <strong>{{successMessage}}</strong>
  </div>
  <div class="alert alert-danger"   role="alert" *ngIf="isVisible">
    <strong>{{errorMessage }} </strong>
  </div>
<table class="table  table-bordered">
    <thead>
      <tr>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Gender</th>
        <th scope="col" style="text-align: center;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{patient.firstName}}</td>
        <td>{{patient.lastName}}</td>
        <td>{{patient.gender}}</td>
        <td>
            <button class="btn btn-info float-right m-1" (click)="pickPatient(patient)"> Pick Me</button>
            <button class="btn btn-info float-right m-1" (click)="openModalForConsult(consultsPatientModal,patient)">View Consultations</button>
            <button class="btn btn-info float-right m-1 " (click)="openModalForData(consultationModal,patient)">View Data</button>
        </td>
      
      </tr>
    </tbody>
  </table>
</div>

<ng-template #consultationModal let-modal>
  <div class="modal-header">
   <h5 class="modal-title"> View Data  </h5>
   <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
   </button>
  </div>
  <div class="modal-body">  
    <div class="alert alert-danger"   role="alert" *ngIf="isVisible">
      <strong>{{errorMessage }} </strong>
    </div>
    <table class="table  table-bordered">
      <thead>
        <tr>
         
          <th scope="col">Carbohydrates</th>
          <th scope="col">Blood Glucose</th>
       
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patientData of dataPatients">
          <td>{{patientData.carbIntake}}</td>
          <td>{{patientData.bloodGlucose}}</td>
   
        </tr>
      </tbody>
    </table>
  </div>

 </ng-template>


 <ng-template #consultsPatientModal let-modal>
  <div class="modal-header">
   <h5 class="modal-title"> View Consults  </h5>
   <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
   </button>
  </div>
  <div class="modal-body ">  
    <div class="alert alert-danger"   role="alert" *ngIf="isVisible">
      <strong>{{errorMessage }} </strong>
    </div>
    <table class="table  table-bordered ">
      <thead>
        <tr>
       
          <th scope="col">Consulation</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let consulationData of consultations">
          <td >{{consulationData.consult}}</td>
          <td>{{consulationData.date | date:'yyyy/MM/dd'}}  </td>
        </tr>
      </tbody>
    </table>
  
  </div>
 </ng-template>

