<div class="alert alert-success" role="alert" *ngIf="isSuccesfullVisible">
  <strong>{{successMessage}}</strong>
</div>
<div class="alert alert-danger"   role="alert" *ngIf="isVisible">
  <strong>{{errorMessage }} </strong>
</div>
<div class="container">
<form  [formGroup]="dataPatientForm" (submit)="dataPushSubmit()" >
<div class="form-row">
    <div class="col">
        <input class="form-control" type="text" placeholder="carbohydrates"  formControlName="carbIntake"/>
    </div>
    <div class="col">
    <input class="form-control" type="text" placeholder="Glycose"  formControlName="bloodGlucose"/>
    </div>
    <button type="submit" class="btn btn-primary">Add Data</button>
</div>
</form>
</div>