<nav class="navbar navbar-expand-lg navbar-light "style="background-color: #ade8f4;">
    <a class="navbar-brand" href="/"><span class="material-icons">
        biotech
        </span>Sacchon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="!isAuth">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item" *ngIf="!isAuth">
          <a class="nav-link" href="/login">Login</a>
        </li >
        <li  class="nav-item  float-right" *ngIf="isAuth">
          <a  class="nav-link pull-right" style="cursor:pointer" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
    <div
    class="float-right text-center animate__animated animate__backInDown"
    style="margin-top: 5px"
  >
    Powered by
    <img
      src="../../../assets/images/pfizer.png"
      width="45"
      height="45"
    /> &
    <img
      src="../../../assets/images/codehub.png"
    />
  </div>
  </nav>