.col-centered{
    float: none;
    margin: 0 auto;
 }

 img {
    width: 600px; /* You can set the dimensions to whatever you want */
    height: 600px;
    object-fit: cover;
}


.carousel-item {
    height: 418px;
}

.welcome-btn-margin{
    margin-right: 10px;;
}